<h1>詳細</h1>
<div class = "container">
  <p id="notice"><%= notice %></p>

  <p>内容：　<%= @article.content %></p>
  <p>画像：　<%= image_tag @article.image.url %></p> 

  <div class = "btn">
    <%= link_to '編集', edit_article_path(@article) %>
    <%= link_to '戻る', articles_path %>
  </div>
</div>